<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Calorie Calculator</h2>
<p>Fill in the form and click submit</p>
<form action="/calories_form" method="post">
    <p>let's get some info</p>
    {{caloriesform.weight.label}} {{caloriesform.weight}}
    <br>
    {{calories.height.label}} {{caloriesform.height}}
    <br>
    {{caloriesform.age.label}} {{calories.age}}
    <br>
    <hr>
    <p>Tell us where you are so we can better calculate your need calories</p>
    {{caloriesform.city.label}} {{caloriesform.city}}
    <br>
    {{caloriesform.country.label}} {{caloriesform.country}}
    <br>
    <br>
    {{caloriesform.button}}
    <br>
    {% if result==True %}
    <h3>You need {{calories}} calories today</h3>
    {% endif %}
</form>
</body>
</html>